* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: lighter;
  color: #474747;

  transition: color 0.5s;
}

a:hover {
  color: #a8a8a8;
}

h2.title {
  font-family: 'Poiret One';
  font-weight: lighter;
  font-size: 55px;
  padding: 0;
  margin: 0;
}

h2.emoji {
  font-weight: lighter;
  font-size:40px;
  padding: 0;
  margin: 0;
  color: #474747;
}

h3 {
  text-shadow: left;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.static-bg-1 {
  background-image: url(../Images/Page_backgrounds/head_bg_1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.static-bg-contact {
  background-image: url(../Images/Page_backgrounds/contact_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

.static-bg-project {
  background-image: url(../Images/Page_backgrounds/projects_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* ------------- hr tag styles -------------------------- */
hr.style2 {
  border-top: 3px double #76c1ef;
  width: 15%;
}
/*--------------- end ------------------- */

.header {
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 0.5px solid #97a0a0;
}

.header-content {
  position:relative;
  left: 15px;
}

.content {
  position: relative;
  width: 100%;
  padding: 0;
}

.contact {

}

#header-name {
  font-family: 'Montserrat';
  font-size: 58px;
  display:inline;
  margin: 0px 10px;
}

#header-title-2 {
  font-family: 'Kaushan Script';
  font-size: 35px;
  font-weight: 100;
  color: #232323;
  margin-bottom: 10px;
  margin-top: 0px;
}

#header-title {
  font-family: 'Quicksand';
  font-size: 33px;
  text-align: center;
  margin-top: 0px;
  color: #383838;
}

#tab-1, #tab-2 {
  position: relative;
  bottom: 23px;
}

#project-arr {
  text-align: right;
  position: relative;
  right: 100px;

  font-size: 45px;
}

.text-centered {
  text-align: center;
}

.bio {
  display: inline-block;
  margin-right: 20px;
}

.prof-pic {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

div.prof-pic {
  opacity: 0.85;
  transition: opacity 0.5s;
}

div.prof-pic:hover {
  opacity: 1.0;
}

p{
  color: #000000;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: normal;
  text-align: text-centered;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  line-height: 1.5em;
}
.bio p {
  text-align: left;

  position: relative;
  left: 50px;
  min-width: 100px;
  max-width: 700px;
  margin-right: 70px;
}

.about {
  font-family: 'Poiret One';
  font-weight: 50;
  margin: 20px 50px;
  text-align: center;
}

.links, .platforms {
  text-align: center;
}

.links a {
  margin: 0px 10px;
  color: #454545;
  background-color: rgba(255, 255, 255, 0.0);
  border: 0.5px solid rgba(255, 255, 255, 0.0);
}

.platforms a {
  margin: 0px 15px;

  color: #6D6D6D;
  background-color: rgba(255, 255, 255, 1);
  border: 0.5px solid #6D6D6D;
}

.links a, .platforms a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.13em;
  border-radius: 1px;

  text-decoration: none;
  padding: 3px 5px;
  transition: .2s ease-out;
}


.links a:visited, .platforms a:visited {
  color: #454545;
  text-decoration: none;

}

.links a:hover, .platforms a:hover {
  transform: scale(1.02);
  color: #287ee6;
  background-color: #edf9ff;
  border: 0.5px solid #287ee6;
  text-decoration: none;
}

.links a:active, .platforms a:active {
  color: #361356;
  background-color: #e5f9ff;
  transition: background-color 1s;
}

/* -------------This is the ABOUT.html Section------------------- */
