body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    overflow-x: hidden;
    cursor: url(../assets/cursor.cur), pointer;
}

h1 {
    font-family: 'Kaushan Script';
    font-size: 600%;
    font-weight: 600;
    color: #3b3630;
    display:inline;
}

h2 {
    font-family: 'Handlee';
    font-size: 300%;
    font-weight: 600;
    color: #3b3630;
}

#hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox centering */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    /* Background */
    /* background-image: url(../assets/Images/Page_backgrounds/hero.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#hero h2 {
    margin: 0;
}

#hero h3 {
    font-family: 'Montserrat';
    font-size: 250%;
    font-weight: 500;
    color: #3b3630;
}

#hero-inner {
    margin-top: -10%;
}

#h1-style2 {
    color: #fff;
    text-shadow:
    -1.5px -1.5px 0 #707070,
    1.5px -1.5px 0 #707070,
    -1.5px 1.5px 0 #707070,
    1.5px 1.5px 0 #707070;

}

.adjust-margin-bottom {
    margin-bottom: 1%;
}

.nav-bar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    margin-top: 0.5%;
    width: 100%; /* Full width */
    text-align: end;
}

.nav-bar li {
    display: inline;
    margin-right: 2%;

    font-family: 'Montserrat';
    color: #3b3630;
    font-size: 125%;
}

.contact {
    padding: 0.2% 1%;
    border: 0.5px solid #3b3630;
}

footer {
    text-align: center;

    /* Font */
    font-family: 'Montserrat';
    color: #474747;
    font-weight: 100;
    font-size: 105%;
}