* {
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: black;
  font-weight: normal;
}

a:hover {
  color: #e478e8;
}

h2 {
  font-family: 'Poiret One';
  font-weight: bolder;
  font-size: 55px;
  padding-top: 20px;
}

h3 {
  font-size: 17px;
  font-weight: 400;
}

.static-bg-1 {
  background-image: url(../Images/head_background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

/* ------------- header menu stuff
.header {
  position: fixed;
  z-index: 5;
  bottom: 505px;
  width: 100%;
  padding: 5px 0px;
}
------------------- */

.header {
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
  padding-top: 13px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 0.5px solid #97a0a0;
}

.content {
  position: relative;
  top: 70px;
  width: 100%;
}

#header-name {
  font-family: 'Montserrat';
  font-size: 68px;
  margin-top: 110px;
  background: Images/head_background.png
}

#header-title {
  font-family: 'Quicksand';
  font-size: 50px;
  text-align: center;
}

#tab-1, #tab-2 {
  position: relative;
  bottom: 23px;
  right: 10px;
}

.text-centered {
  text-align: center;
}

.bio {
  display: inline-block;
  max-height: 500px;
}

.prof-pic {
  position: relative;
  right: 30px;
}

.bio p {
  color: black;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  line-height: 1.5em;

  position: relative;
  left: 50px;
  min-width: 100px;
  max-width: 700px;
  margin-right: 70px;
}

.about {
  font-family: 'Montserrat';
  font-weight: 50;
  margin: 20px 50px;
  text-align: left;
}

.platforms {
  margin-bottom: 100px;
}

.links, .platforms {
  text-align: center;
}

.links a {
  margin: 0px 10px;
}

.links a, .platforms a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.13em;
  border-radius: 1px;

  color: #97a0a0;
  background-color: rgba(255, 255, 255, 0.0);
  border: 0.5px solid rgba(255, 255, 255, 0.0);
  transition: color 1s, background-color 1s;

  text-decoration: none;
  padding: 3px 10px;
  padding-top: 6px;
}


.links a:visited, .platforms a:visited {
  color: #97a0a0;
  text-decoration: none;

}

.links a:hover, .platforms a:hover {
  color: #287ee6;
  background-color: #e5f9ff;

  border: 0.5px solid #287ee6;
  text-decoration: none;
}

.links a:active, .platforms a:active {
  color: #361356;
  background-color: #ecd8ff;
  font-size: 15px;
}

/* -------------This is the ABOUT.html Section------------------- */
