/* .hero {
    background-image: url(../assets/Images/Page_backgrounds/homepage.jpg);
    background-color: #f1f1f0;
    min-height: 50vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: contain;
    border-bottom: 0.5px solid #97a0a0;
    animation: fadein 5s;
    animation-iteration-count: 1;
  } */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior:  smooth;

    background-image: url(../assets/Images/Page_backgrounds/hero.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100% 100%;
    animation: fadein 5s;
    animation-iteration-count: 1;
}

h1 {
    font-family: 'Kaushan Script';
    font-size: 600%;
    font-weight: 600;
    color: #3b3630;
    display:inline;
}

#h1-style2 {
    color: #fff;
    text-shadow:
    -1.5px -1.5px 0 #707070,
    1.5px -1.5px 0 #707070,
    -1.5px 1.5px 0 #707070,
    1.5px 1.5px 0 #707070;

}

h2 {
    font-family: 'Handlee';
    font-size: 300%;
    font-weight: 600;
    color: #3b3630;

    text-align: center;
}

#h2-hero
{
    margin-top: 11%;
}

h3 {
    font-family: 'Montserrat';
    font-size: 250%;
    font-weight: 500;
    color: #3b3630;

    margin-bottom: 0px;
}

.adjust-margin-bottom {
    margin-bottom: 1%;
}