body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    overflow-x: hidden;
    cursor: url(../assets/cur/Normal.cur), pointer;
}

p {
    /* Font */
    font-family: 'Pavanam';
    color: #595757;
    font-weight: 100;
    font-size: 140%;
    line-height: 30px;
}

@-moz-keyframes fadeIn {
    100% {
        opacity: 100;
        visibility: visible;        
    }

    0% {
        opacity: 0;
        visibiltiy: hidden;
    }
}

@-webkit-keyframes fadeIn {
    100% {
        -webkit-opacity: 100;
        -webkit-visibility: visible;        
    }

    0% {
        -webkit-opacity: 0;
        -webkit-visibiltiy: hidden;
    }
}

@-o-keyframes fadeIn {
    100% {
        opacity: 100;
        visibility: visible;        
    }

    0% {
        opacity: 0;
        visibiltiy: hidden;
    }
}

@-moz-keyframes invisible {
    100% {
        opacity: 0;
        visibiltiy: hidden;
    }

    0% {
        opacity: 0;
        visibiltiy: hidden;
    }
}

@-webkit-keyframes invisible {
    100% {
        -webkit-opacity: 0;
        -webkit-visibiltiy: hidden;
    }

    0% {
        -webkit-opacity: 0;
        -webkit-visibiltiy: hidden;
    }
}

@-o-keyframes invisible {
    100% {
        opacity: 0;
        visibiltiy: hidden;
    }

    0% {
        opacity: 0;
        visibiltiy: hidden;
    }
}

@-moz-keyframes fadeInHover {
    100% {
        opacity: 100;
    }
}

@-webkit-keyframes fadeInHover {
    100% {
        -webkit-opacity: 100;
    }
}

@-o-keyframes fadeInHover {
    100% {
        opacity: 100;
    }
}

h1 {
    font-family: 'Loved by the King';
    font-size: 850%;
    font-weight: 600;
    color: #575452;
    display:inline;
}

h2 {
    font-family: 'Pavanam';
    font-size: 275%;
    font-weight: 400;
    color: #696563;
}

#hero-inner p, h3, h2, h1, hr {
    position: relative;
    left: -40%;
    bottom: 5rem;
}

#hero {
    /* Sizing */
    width: 100vw;
    height: 90vh;

    /* Flexbox centering */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text-align: left; */
}

#hero h2 {
    margin: 0;
}

#hero h3 {
    font-family: 'Pavanam';
    font-size: 200%;
    font-weight: 500;
    color: #595757;
    margin-bottom: 0;   
    letter-spacing: .17rem;
}

#fields {
    font-weight: bolder;
    text-shadow: .09rem .09rem #827f7d;
    text-decoration: none;
    transition: 0.5s;
    cursor: url(../assets/cur/Link.cur), pointer;
}

a:hover {
    color: #e4dfdc !important;
}

#h1-style2 {
    color: #fff;
    text-shadow:
    -1.5px -1.5px 0 #595757,
    1.5px -1.5px 0 #595757,
    -1.5px 1.5px 0 #595757,
    1.5px 1.5px 0 #595757;
}

#contact {
    text-align: center;
    position: absolute;
    bottom: 10%;
}

#contact a {
    margin-right: 2rem;
    cursor: url(../assets/cur/Link.cur), pointer;
    opacity: 0.7;
    transition: 0.5s;
}

#contact a:hover{
    opacity: 1;
}

footer {
    text-align: center;
    font-size: 80%;
    height: 5vh;
}

 /* blinking cursor */
 h1:after {
    content: '';
    width: 0.25rem;
    height: 6rem;
    background: #9c9696;
    opacity: 0;
    display: inline-block;
    animation: blink 0.75s linear infinite alternate;
    margin-left: 1rem;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }